<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<form th:action="${'/users/role/add'}" method="post">
    <label for="user">Пользователь:</label>
    <select name="user" id="user" class="form-select" aria-label="Default select example">
        <div th:each="user : ${users}" >
            <option th:value="${user.id}" th:text="${user.name}" ></option>
        </div>
    </select>
    <label for="role">Роль:</label>
    <select name="role" id="role" class="form-select" aria-label="Default select example">
        <div th:each="role : ${roles}" >
            <option th:value="${role.id}" th:text="${role.name}" ></option>
        </div>
    </select>
    <br>
    <button type="submit" class="btn btn-secondary">Добавить роль</button>
</form>
</body>
</html>