<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<form action="/users/create-user" method="post" th:object="${user}">
    <div>
        <label for="name">Имя:</label>
        <input class="form-control" type="text" id="name" th:field="*{name}">
    </div>
    <div>
        <label for="number">Номер паспорта:</label>
        <select name="number" id="number" class="form-select" aria-label="Default select example">
            <div th:each="passport : ${passports}">
                <option th:text="${passport.number}"></option>
            </div>
        </select>
    </div>
    <br>
    <div>
        <button type="submit" class="btn btn-primary">Создать</button>
    </div>
</form>
</body>
</html>